<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
            type="url" 
            name="avatar_url" 
            placeholder="http://"
            value="{{ student.avatar_url }}"    
        >
    </div>
</div>

<div class="item">
    <div>Nome completo</div>
    <div>
        <input 
            type="text" 
            name="name" 
            placeholder="Nome do professor"
            value="{{ student.name }}"
        >
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input 
            type="date" 
            name="birth"
            value="{{ student.birth }}"
        >
    </div>
</div>

<div class="item">
    <div>Grau de escolaridade</div>
    <div>
        <select name="graduation">
            <option value="H"
                {% if student.graduation == 'H' %}
                    selected
                {% endif%}
                >Ensino Médio Completo
            </option>
            <option value="G"
                {% if student.graduation == 'G' %}
                    selected
                {% endif%}
                >Ensino Superior Completo
            </option>
            <option value="M"
                {% if student.graduation == 'M' %}
                    selected
                {% endif%}
                >Mestrado
            </option>
            <option value="D"
                {% if student.graduation == 'D' %}
                    selected
                {% endif%}
                >Doutorado
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Tipo de aula</div>
    <div>
        <span>
            <input 
                type="radio" 
                name="type_class" 
                value="presential" 
                {% if student.type_class == 'presential' %}
                checked
                {% endif %}
                > Presencial
        </span>
        <span>
            <input 
                type="radio" 
                name="type_class" 
                value="distance_learning"
                {% if student.type_class == 'distance_learning' %}
                checked
                {% endif %}
                > À distância
        </span>
    </div>
</div>

<div class="item">
    <div>Área de atuação</div>
    <div>
        <input 
            type="text" 
            name="services" 
            placeholder="Separe os especialidades por vírgula"
            value="{{ student.services }}"
        >
    </div>
</div>

<button type="submit">Salvar</button>
