{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
       <a href="/students/create">Novo</a>
        <table width="100%">
            <thead>
                <th>Estudante</th>
                <th>Email</th>
                <th>Ano escolar</th>
                <th>Ação</th>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ student.avatar_url }})"></span>
                            {{ student.name }}
                        </td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.graduation }}</td>
                        <td><a href="/students/{{student.id}}">Ver</a></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}