<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
            type="url" 
            name="avatar_url" 
            placeholder="http://"
            value="{{ student.avatar_url }}"    
        >
    </div>
</div>

<div class="item">
    <div>Nome completo</div>
    <div>
        <input 
            type="text" 
            name="name" 
            placeholder="Nome do estudante"
            value="{{ student.name }}"
        >
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input 
            type="email" 
            name="email" 
            value="{{ student.email }}"
        >
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input 
            type="date" 
            name="birth"
            value="{{ student.birth }}"
        >
    </div>
</div>

<div class="item">
    <div>Ano escolar</div>
    <div>
        <select name="graduation">
            <option value="fifth"
                {% if student.graduation == 'fifth' %}
                    selected
                {% endif %}
                >5º Ano do Ensino Fundamental
            </option>
            <option value="sixth"
                {% if student.graduation == 'sixth' %}
                    selected
                {% endif %}
                >6º Ano do Ensino Fundamental
            </option>
            <option value="seventh"
                {% if student.graduation == 'seventh' %}
                    selected
                {% endif %}
                >7º Ano do Ensino Fundamental
            </option>
            <option value="eighth"
                {% if student.graduation == 'eighth' %}
                    selected
                {% endif %}
                >8º Ano do Ensino Fundamental
            </option>
            <option value="ninth"
                {% if student.graduation == 'ninth' %}
                    selected
                {% endif %}
                >9º Ano do Ensino Fundamental
            </option>
            <option value="first"
                {% if student.graduation == 'first' %}
                    selected
                {% endif %}
                >1º Ano do Ensino Médio
            </option>
            <option value="second"
                {% if student.graduation == 'second' %}
                    selected
                {% endif %}
                >2º Ano do Ensino Médio
            </option>
            <option value="third"
                {% if student.graduation == 'third' %}
                    selected
                {% endif %}
                >3º Ano do Ensino Médio
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Carga horária semanal</div>
    <div>
        <input 
            type="number" 
            name="workload"
            value="{{ student.workload }}"
        >
    </div>
</div>

<button type="submit">Salvar</button>
