{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
       <a href="/students/create">Novo</a>
        <table width="100%">
            <thead>
                <th>Estudante</th>
                <th>Email</th>
                <th>Ano escolar</th>
                <th>Ação</th>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ student.avatar_url }})"></span>
                            {{ student.name }}
                        </td>
                        <td>{{ student.email }}</td>
                        <td>
                        {% if student.graduation == 'fifth' %}
                            5º Ano do Ensino Fundamental        
                        {% endif %}
                        {% if student.graduation == 'sixth' %}
                            6º Ano do Ensino Fundamental        
                        {% endif %}
                        {% if student.graduation == 'seventh' %}
                            7º Ano do Ensino Fundamental        
                        {% endif %}
                        {% if student.graduation == 'eighth' %}
                            8º Ano do Ensino Fundamental        
                        {% endif %}
                        {% if student.graduation == 'ninth' %}
                            9º Ano do Ensino Fundamental        
                        {% endif %}
                        {% if student.graduation == 'first' %}
                            1º Ano do Ensino Médio        
                        {% endif %}
                        {% if student.graduation == 'second' %}
                            2º Ano do Ensino Médio        
                        {% endif %}
                        {% if student.graduation == 'third' %}
                            3º Ano do Ensino Médio        
                        {% endif %}
                        </td>
                        <td><a href="/students/{{student.id}}">Ver</a></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}