{% extends "layout.njk" %}

{% block content %}
    <div class="container-error">
        <div class="msg-error">
            <h1 class="error-title">404</h1>   
        </div>
        <div class="content-error">
            <h1 class="error">E R R O R</h1>
            <h1 class="description-error">PAGE NOT FOUND</h1>
        </div>
    </div>

{% endblock %}